.container {
	display: flex;
	font-size: 17px;
	padding: 15px;
	height: 20px;
}

.text{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.container:hover {
	cursor: pointer;
}

.id {
	width: 5%;
}

.fileName {
	width: 55%;
}

.fileSize {
	width: 10%;
}

.owner {
	width: 10%;
}

.uploadTime {
	width: 20%;
}
