.container {
	width: 90%;
	margin: 0 auto;
}

.item {
	border-bottom: 1px solid black;
}

.title {
	// backgroud-color: green;
	// width: calc(100% - 50px);
	border-top: 1px solid black;
	background-color: #1976d2;
	color: white;
	font-weight: 600;
}

.box {
	position: relative;
	height: 70vh;
	// background-color: aqua;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	overflow-y: overlay;
}
